{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('hero') }}
{% endblock %}

{% block body %}
    {% include 'components/_hero.html.twig' with { title: 'Order details', intro: purchase.store.name } %}

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2>{{ purchase.store.name }}</h2>
                {% if purchase.store.website %}
                    <a href="{{ purchase.store.website }}">{{ purchase.store.website }}</a>
                {% endif %}
            </div>

            <div class="col-12 col-lg-8">
                <h2>Items</h2>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in purchase.items %}
                        <tr>
                            <td>
                                {{ item.name }}
                                {% if item.description %}
                                    <br><p>{{ item.description }}</p>
                                {% endif %}
                            </td>
                            <td>{{ item.amount }} {{ item.currency }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                <a class="btn btn-warning" href="{{ path('app_item_edit', {'id': item.id}) }}">Edit</a>
                                {{ include('item/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">No items found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-12 col-lg-4">
                <h3>Details</h3>
                <p><b>Status</b>: {{ purchase.status|capitalize }}</p>
                <p><b>Order date</b>: {{ purchase.orderDate ? purchase.orderDate|date('d-m-Y H:i:s') : '' }}</p>
                <p>
                    <b>Tracking</b>:
                    {% if purchase.trackingCourier %}
                        {% if purchase.trackingUrl %}
                            <a href="{{ purchase.trackingUrl }}">{{ purchase.trackingCourier }}</a>
                        {% else %}
                            {{ purchase.trackingCourier }}
                        {% endif %}
                    {% else %}
                        No tracking information available
                    {% endif %}
                 </p>
            </div>

            <div class="col-12 mt-4">
                <h3>Emails</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Subject</th>
                        <th>Sender</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set sorted_emails = purchase.inboundEmails|sort((a, b) => b.dateReceived <=> a.dateReceived) %}
                    {% for email in sorted_emails %}
                        <tr>
                            <td>{{ email.dateReceived ? email.dateReceived|date('d-m-Y H:i:s') : '' }}</td>
                            <td>{{ email.subject }}</td>
                            <td>{{ email.sender }}</td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('app_inbound_email_show', {'id': email.id}) }}">View</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">No emails received</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-12">
                <div class="d-flex justify-content-between mb-4">
                    <a class="btn btn-primary" href="{{ path('app_purchase_index') }}">Back to orders</a>
                    <div>
                        <a class="btn btn-warning" href="{{ path('app_purchase_edit', {'id': purchase.id}) }}">Edit</a>
                        {{ include('purchase/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
