<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no">
        <title>{% block title %}Where's my parcel{% endblock %}</title>

{#        <link rel="icon" type="image/x-icon" href="{{ asset('build/media/favicon-16x16.ico') }}">#}
{#        <link rel="icon" type="image/x-icon" href="{{ asset('build/media/favicon-32x32.ico') }}">#}
{#        <link rel="shortcut icon" href="{{ asset('build/media/favicon.ico') }}">#}

        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include '_navbar.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
