{% if purchases|length > 0 %}
    <table class="table">
        <thead>
        <tr>
            <th>Store</th>
            <th>Order date</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Tracking</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.store.name }}</td>
                <td>{{ purchase.orderDate ? purchase.orderDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ purchase.amount }} {{ purchase.currency }}</td>
                <td>{{ purchase.status|capitalize }}</td>
                <td>
                    {% if purchase.trackingCourier %}
                        {{ purchase.trackingCourier }}
                    {% else %}
                        No tracking information
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_purchase_show', {'id': purchase.id}) }}">View</a>
                    {% if purchase.trackingUrl %}
                        <a class="btn btn-primary" href="{{ purchase.trackingUrl }}" target="_blank">Track</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No orders found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="list-container__no-results">No orders to display</p>
{% endif %}
